
.main {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
div>div{
    background-color: blueviolet;
    border-radius:10px;
    margin:2% 0 0 2%;
    width:30%;
    padding: 15% 0;
    float: left;
    position: relative;
    z-index:6;
    behavior: url(ie-css3.htc);
}